<template>
	<div class="client-days-container">
		<el-row>
			<el-col class="agent-select-label">
				<div>Agent ID</div>
			</el-col>
			<el-col style="width: 256px;">
				<el-select class="agent-select" v-model="currentUserAgentID" placeholder="Select">
					<el-option v-for="(item, i) in userAgents" :key="i" :label="item" :value="item"></el-option>
				</el-select>
			</el-col>
		</el-row>
		<el-row class="headings">
			<el-col style="text-align: left;" :span="2">Device ID</el-col>
			<el-col style="text-align: left;" :span="2">Days Remaining</el-col>
			<el-col :span="16">Progress</el-col>
			<el-col style="text-align: left; padding-left: 24px;" :span="3">Last Payment</el-col>
		</el-row>
		<el-row v-for="dev in sortedAgentsDeviceDays" :key="dev.id">
			<el-col style="text-align: left;" :span="2">{{dev.id}}</el-col>
			<el-col style="text-align: left;" :span="2">{{dev.daysRemaining}}</el-col>
			<el-col :span="16">
				<el-progress
					class="progress-bars"
					:percentage="daysPercentage(dev.daysRemaining)"
					:color="progressColor(dev.daysRemaining)"
					:show-text="false"
					stroke-width="10"
				></el-progress>
			</el-col>
			<el-col style="text-align: left; padding-left: 24px;" :span="3">{{dev.lastPayment}}</el-col>
		</el-row>
	</div>
</template>

<script>
import papa from "papaparse";
import { csvString } from "./csv-string";
import moment from "moment";
import "element-ui/lib/theme-chalk/index.css";
import { Progress, Select, Option, Row, Col } from "element-ui";

export default {
	name: "HelloWorld",
	components: {
		"el-progress": Progress,
		"el-select": Select,
		"el-option": Option,
		"el-row": Row,
		"el-col": Col
	},
	props: {
		msg: String
	},
	data() {
		return {
			currentUserAgentID: "",
			data: [],
			statusIndex: null,
			createdDateIndex: null,
			agentIdIndex: null,
			deviceIdIndex: null,
			today: null
		};
	},
	mounted() {
		const results = papa.parse(csvString);
		const headings = results.data[0];
		this.data = results.data.slice(1);
		for (const i in headings) {
			switch (headings[i]) {
				case "status":
					this.statusIndex = i;
					break;
				case "created":
					this.createdDateIndex = i;
					break;
				case "agent_user_id":
					this.agentIdIndex = i;
					break;
				case "device_id":
					this.deviceIdIndex = i;
					break;
			}
		}
		this.currentUserAgentID = results.data[1][this.agentIdIndex];
		this.today = moment("2019-01-15", "YYYY-MM-DD");
	},
	computed: {
		userAgents() {
			if (this.data.length === 0) return [];
			const agentIdList = this.data.map(row => {
				return row[this.agentIdIndex];
			});
			return [...new Set(agentIdList)];
		},
		currentUserAgentData() {
			if (this.data.length === 0) return [];
			return this.data.filter(row => {
				return row[this.agentIdIndex] === this.currentUserAgentID;
			});
		},
		uniqueDeviceIDs() {
			const deviceIDs = this.currentUserAgentData.map(row => {
				return row[this.deviceIdIndex];
			});
			return [...new Set(deviceIDs)];
		},
		sortedAgentsDeviceDays() {
			const agentsDeviceDays = this.uniqueDeviceIDs.map(deviceID => {
				return this.agentDeviceDays(deviceID);
			});

			return agentsDeviceDays.sort((a, b) => {
				return a.daysRemaining - b.daysRemaining;
			});
		}
	},
	methods: {
		progressColor(days) {
			days = Number(days);
			return days <= 30 ? "red" : days <= 60 ? "orange" : "green";
		},
		agentDeviceDays(deviceID) {
			const deviceData = this.currentUserAgentData.filter(row => {
				return row[this.deviceIdIndex] === deviceID;
			});

			const defaultDevice = {
				id: deviceID,
				days: 100,
				created: undefined,
				date: "N/A",
				status: "N/A"
			};

			return deviceData.reduce((acc, row) => {
				const created = moment(
					row[this.createdDateIndex],
					"YYYY-MM-DD HH:mm:ss"
				);
				if (row[this.statusIndex] === "CANCELLED") return acc;
				if (acc.created !== undefined || created < acc.created)
					return acc;
				const daysRemaining = 90 - this.today.diff(created, "days");
				return {
					id: deviceID,
					daysRemaining: daysRemaining,
					created: created,
					lastPayment: row[this.createdDateIndex]
				};
			}, defaultDevice);
		},
		daysPercentage(daysRemaining) {
			return Number(((daysRemaining / 90) * 100).toFixed(0));
		}
	}
};
</script>

<style scoped>
.client-days-container {
	min-width: 1000px;
	margin: 80px 200px;
}

.agent-select-label {
	width: 81px;
	line-height: 38px;
	text-align: left;
	font-weight: bold;
}

.agent-select {
	margin-bottom: 20px;
}

.headings {
	margin-bottom: 20px;
	font-weight: bold;
}

.progress-bars {
	margin: 10px;
}
</style>
